.container {
  display: flex;
  gap: 0.25em;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}

.border-bottom-palabra {
  border-bottom: 0.05em solid black;
}